html {
    font-size: 20px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
    font-family: Platzhalter; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
    text-align: center;
    background-image: url("hintergrund.jpg");
    background-size: cover;
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color:white;
    padding: 0 20px 20px 20px; /*oben, rechts, unten, links*/
    border: 5px solid black;
    /*background-image: url("quiz_time.jpg");*/
    background-size: contain;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
p {
    color: red;
    border: 1px solid black;
  }
#spoiler_main {
  width: 100px;
  margin: 10px 0;
  background-color:grey;
  padding: 0 1px 0 1px;
  border: 5px solid black;
}
#spoiler_off {
  width: 100px;
  margin: 5px 0;
  background-color:black;
  color:red;
  padding: 0 1px 0 1px;
  border: 5px solid black;
}
#musik_feld {
  margin: 0 0;
  border: 3px solid green;
  padding: 0 1px 0 1px;
  background-color: brown;
}

.container {
  color: white;
}

.frage {
  padding: 5px;
  margin-bottom: 20px;
  color: greenyellow;
  text-align: center;
  display: inline-block;
  border: 1px dotted pink;
}

#karsten{
  padding: 20px 20px;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* flex-grow: 2; */
  flex-wrap: wrap;
}

.antworten {
  margin: 10px 10px;
  border: 2px solid black;
  color: red;
  /* display: inline-block; */
  width: 45%;
  min-height: 100px;
  /* flex-grow: 2; */
  /* left: 0; */
}